node_modules
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
.npm
web_modules/

/.blitz/
/.next/
*.sqlite
*.sqlite-journal
.now
.blitz**
blitz-log.log

.DS_Store

.env.local
.env.*.local
.envrc

logs
*.log

pids
*.pid
*.seed
*.pid.lock

.coverage
*.lcov
.nyc_output
lib-cov

*.tsbuildinfo
.eslintcache
.node_repl_history
.yarn-integrity

.serverless/

.vscode-test
